<!DOCTYPE html>
<html>
    <head>
        <title>Tentang Author</title>
        <link rel="icon" href="/img/cuaca.png" />
        <link rel="stylesheet" href="/css/styles.css" /> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"   

        <script src="/js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div class="container">
                <div class="card-one">
                    <div class="profile"></div>
                    <div class="contact-box">
                        <h2>Contact</h2>
                        <div>
                            <i class="fa-solid fa-phone"></i>
                            <div class="text">(+62) 81273186064</div>
                        </div>
                        <div>
                            <i class="fas fa-home"></i>
                            <div class="text">Indonesia</div>
                        </div>
                        <div>
                            <i class="fas fa-envelope"></i>
                            <div class="text">sucikoadelina3@gmail.com</div>
                        </div>
                    </div>
                    <div class="personal-box">
                        <h2>Soft Skill</h2>
                        <div>
                           <ul>
                            <li><p>Kemampuan Berorganisasi</p></li>
                            <li><p>Kreatifitas dalam Mendesain</p></li>
                            <li><p>Kemampuan Berkomunikasi dalam sebuah Tim</p></li>
                           </ul>
                        </div>

                        <h2>Hard Skill</h2>
                        <div>
                           <ul>
                            <li><p>Microsoft Office</p></li>
                            <li><p>Figma</p></li>
                            <li><p>Canva</p></li>
                            <li><p>JavaScript</p></li>
                            <li><p>HTML</p></li>
                           </ul>
                        </div>

                        <div class="hobbies-box">
                            <h2>Hobbies</h2>
                            <div class="logo">
                            <div>
                            <ul>
                                <li><p>Dengarin Musik</p></li>
                                <li><p>Baca Novel</p></li>
                            </ul>
                        </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-two">
                    <div class="head-tittle">
                        <h1>Adelina
                            <b>Suciko</b>
                        </h1>
                    </div>
                    <div>
                        <h2>Mahasiswi</h2>
                    </div>
                    <div class="group-1">
                        <div class="box">
                            <h2>About Me</h2>
                        </div>
                        <div class="desc">
                            Saya adalah Adelina Suciko, seorang mahasiswi jurusan Informatika di Universitas Negeri Padang yang tengah berada di semester 5. 
                            Saya memiliki antusiasme yang tinggi dan dedikasi luar biasa dalam dunia UI/UX dan front-end development. 
                            Dengan keahlian dalam HTML, CSS, JavaScript, serta desain grafis menggunakan Adobe Photoshop dan Canva, 
                            saya siap untuk memberikan kontribusi kreatif dan membantu menciptakan pengalaman pengguna yang menarik dan responsif.
                        </div>
                    </div>
                    <div class="group-2">
                        <div class="box">
                            <h2>Education</h2>
                        </div>
                        <div class="desc">
                            <div>2018-2021 | SMA Negeri 1 Barumun</div>
                            <ul>
                                <li>
                                    <div>Mengikuti ekstrakulikuler olahraga lebih spesifikasinya dibidang karate</div>
                                </li>
                                <li>
                                    <div>Mengikut ekstrakulikuler Pasukan Pengibar Bendera Sekolah</div>   
                                </li>
                                <li>
                                    <div>Meraih prestasi sebagai juara III dalam pertandingan karate antar pelajar se-Kabupaten Padang Lawas Tahun 2018 dibidang kata kadet putri </div>
                                </li>
                                <li>
                                    <div>Meraih prestasi sebagai Juara III dalam pertandingan karate antar pelajar se-Kabupaten Padang Lawas Tahun 2019, kategori Kata Junior Putri.</div>
                                </li>
                                <li>
                                    <div>Meraih prestasi sebagai juara III dalam pertandingan karate antar antar pelajar se kabupaten padang lawas tahun 2019, kategori komite junior putri 50kg</div>
                                </li>
                                <li>
                                    <div>Meraih prestasi sebagai juara III dalam pertandingan Kejurda (Kejuaraan Daerah) Sumatera Utara tahun 2019, kategori kata junior putri</div>
                                </li>
                                <li>
                                    <div>Mengikuti lomba liga olimpiade pelajar se-Indonesia dibidang Biologi</div>
                                </li>
                                <li>
                                    <div>Mengikuti olimpiade biologi sma se-Sumatera Utara</div>
                                </li>
                            </ul>

                             <div>2021-Sekarang | Universitas Negeri Padang</div>
                             <ul>
                                <li>
                                    <div>Program Studi Informatika</div>
                                </li>
                                <li>
                                    <div>Mengerjakan projek berbasis web design dan aplikasi desktop serta merancang database</div>
                                </li>
                                <li>
                                    <div>Menggeluti bidang desaign, dan sangat tertarik pada bidang UI/UX</div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="group-3">
                        <div class="box">
                            <h2>Organizational Experience</h2>
                        </div>
                        <div class="desc">
                            <div>Formis FT | Departemen Keputrian</div>
                            <ul>
                                <li>
                                    <div>Mengkoordinasikan acara dan kegiatan yang mengedukasi dan memberdayakan perempuan di kampus.</div>
                                </li>
                               <li>
                                    <div>Membangun kemitraan dengan organisasi-organisasi terkait untuk meningkatkan kesadaran dan dukungan terhadap isu-isu perempuan.</div>
                                </li>
                                 <li>
                                    <div>Mengorganisir seminar, lokakarya, dan acara-acara lainnya yang bertujuan untuk meningkatkan kesadaran tentang isu-isu perempuan.</div>
                                </li>
                                <li>
                                    <div>Berpartisipasi aktif dalam pertemuan departemen dan rapat organisasi untuk menyusun strategi dan rencana kerja.</div>
                                </li>
                            </ul>

                            <div>Infinite Technology | HRD</div>
                            <ul>
                                <li>
                                    <div>Bertanggung jawab untuk mengidentifikasi kebutuhan dalam organisasi IT, 
                                        melakukan seleksi calon anggota dan mengelola proses penerimaan.
                                    </div>
                                </li>
                                <li>
                                    <div>Memastikan bahwa organisasi mematuhi semua peraturan dan kebijakan yang berlaku.
                                    </div>
                                </li>
                                <li>
                                    <div>Mengelola perubahan organisasi, seperti restrukturisasi atau perubahan kebijakan, dan membantu pengurus dalam menghadapi perubahan tersebut
                                    </div>
                                </li>
                            </ul>

                            <div>Biro Himanika | PSDM</div>
                            <ul>
                                <li>
                                    <div>Mengelola komunikasi internal dan eksternal organisasi.</div>
                                </li>
                                 <li>
                                    <div>Berkontribusi dalam pertumbuhan dan perkembangan organisasi dengan berkolaborasi dengan anggota lainnya dan memajukan tujuan bersama.</div>
                                </li>
                                 <li>
                                    <div>Berpartisipasi dalam perencanaan dan pelaksanaan acara-acara organisasi.</div>
                                </li>
                                <li>
                                    <div>Mengelola program pengembangan sumber daya manusia yang ditujukan untuk mahasiswa.</div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
          </div>
        {{>footer}}
    </body>
</html>